<app-dash-layout>


    <!-- User profile -->
    <div class="row">
      <div class="col-lg-6">
        <a href="/">
          <div class="panel panel-flat border-left-xlg border-left-indigo-400 border-left-hover">
            <div class="panel-body index-panel-head">
              <h1 class="margin-0 text-indigo-400"><i class="icon-stack3 index-panel-icon"></i> Xidmətlərin
                qeydiyyatı</h1>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a href="/">
          <div class="panel panel-flat border-left-xlg border-left-teal border-left-hover">
            <div class="panel-body index-panel-head">
              <h1 class="margin-0 text-teal"><i class="icon-stack-check index-panel-icon"></i> “ASAN xidmət
                indeksi” üzrə qiymətləndirmə</h1>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a href="#">
          <div class="panel panel-flat border-left-xlg border-left-pink-400 border-left-hover">
            <div class="panel-body index-panel-head">
              <h1 class="margin-0 text-pink-400"><i class="icon-chart index-panel-icon"></i> Hesabatlar</h1>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a href="/">
          <div class="panel panel-flat border-left-xlg border-left-orange border-left-hover">
            <div class="panel-body index-panel-head">
              <h1 class="margin-0 text-orange"><i class="icon-envelop2 index-panel-icon"></i> Xidmətlərlə
                bağlı daxil olan şikayət və təkliflər</h1>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-12">
        <a href="/">
          <div class="panel panel-flat border-left-xlg border-right-xlg border-left-violet-400 border-right-violet-400 border-both-hover">
            <div class="panel-body index-panel-head">
              <h1 class="margin-0 text-violet-400"><i class="icon-library2 index-panel-icon"></i> Xidmət təminatçılarının qeydiyyatı</h1>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-12">
        <a href="#">
          <div class="panel panel-flat border-left-xlg border-right-xlg border-left-blue-400 border-right-blue-400 border-both-hover">
            <div class="panel-body index-panel-head">
              <h1 class="margin-0 text-blue-400"><i class="icon-user-check index-panel-icon"></i> Xidmət təminatçılarının sistemlə iş icazəsi verilən əməkdaşlarının qeydiyyatı</h1>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- /user profile -->


</app-dash-layout>



